################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Syntax-Errors/v17/DocumentLayout.json
/.vs/Syntax-Errors/v17/.wsuo
/.vs/Syntax-Errors/v17
/.vs/VSWorkspaceState.json
/backend/Chas Events/Chas Events/appsettings.Development.json
